.footer {
    margin-top: 4.6875rem;
    padding-bottom: 5rem;

    &__title {
        line-height: 1;
        margin-bottom: 1.667rem;
        letter-spacing: 1px;
        @include atMedium {
            margin-bottom: 1.25rem;
        }
    }

    &__directory {
        text-align: center;
        @include atMedium {
            text-align: left;
        }
    }

    &__nav {
        margin-bottom: 1.667rem;
        margin-top: 4rem;
        text-align: center;
        @include atMedium {
            text-align: left;
            margin-top: 0;
            margin-bottom: 3.75rem;
        }
    }

    &__menu {
        margin-bottom: 3.333rem;
        @include atMedium {
            margin-bottom: 0;
        }

        li {
            color: $color-gray-drk;
            @extend .p--md;

            & + li {
                margin-top: 1.25rem;
                @include atMedium {
                    margin-top: .9375rem;
                }
            }
        }
    }

    &__logos {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @include atMedium {
            justify-content: flex-start;
        }

        &-item {
            width: 8.125rem;

            & + & {
                margin-left: 3.75rem;
            }

            &:first-child {
                width: 5.3125rem;
            }
        }
    }

    &__links {
        margin-top: 1.5rem;
        padding-top: 1.75rem;
        border-top: 1px solid $color-gray;
        text-align: center;
        @include atMedium {
            text-align: left;
            margin-top: 1.125rem;
            padding-top: 1.3125rem;
        }

        p {
            color: $color-gray-drk;
        }
    }
}