.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $color-gray-lgt;
    height: 50rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-image: linear-gradient(to top, $color-black-full, transparent);
        opacity: .35;
        pointer-events: none;
        user-select: none;
    }

    &__main {
        position: relative;
        z-index: 1;
        @include atMedium {
            padding-bottom: 2.6875rem;
        }

        h1 {
            margin-bottom: 2.833rem;
            @include atMedium {
                margin-bottom: 2.125rem;
            }
        }
    }

    &__form {
        @include atMedium {
            max-width: 40rem;
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
        }

        &-main {
            position: relative;
            @include atMedium {
                flex: 1;
            }

            input {
                padding-right: 5.5rem;
                @include atMedium {
                    padding-right: 4.125rem;
                }
            }

            .arrow {
                cursor: pointer;
                position: absolute;
                top: 50%;
                right: 1.4167rem;
                transform: translateY(-50%);
                @include atMedium {
                    right: 1.0625rem;
                }
            }
        }

        .btn {
            margin-top: 2rem;
            @include atMedium {
                margin-top: 0;
                height: auto;
                margin-left: 2.0625rem;
            }
        }
    }

    &__scroll,
    &__location {
        position: absolute;
        z-index: 1;
        bottom: 1.9167rem;
        @include atMedium {
            bottom: 1.4375rem;
        }
    }

    &__scroll {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;

        p {
            color: $color-white;
            margin-bottom: 1.667rem;
            font-size: 1.25rem;
            @include atMedium {
                margin-bottom: 1.25rem;
                font-size: .9375rem;
            }
        }

        img {
            filter: brightness(0) invert(1);
            transform: rotate(90deg);
            width: 2.167rem;
            backface-visibility: hidden;
            animation: up-down 1.5s infinite ease-in-out;
            @include atMedium {
                width: 1.625rem;
            }
            
        }
    }

    &__location {
        color: $color-white;
        position: absolute;
        line-height: 1;
        bottom: 8rem;
        right: 50%;
        transform: translateX(50%);
        @extend .p--xs;
        @include atMedium {
            right: 38px;
            bottom: 1.4375rem;
            transform: none;
        }

        img {
            margin-right: .25rem;
            height: 1rem;
            transform: translateY(-1px);
            @include atMedium {
                height: .75rem;
                transform: translateY(-2px);
            }
        }
    }

    &--no-bg {
        padding: 12rem 0 5rem 0;
        height: auto;
        @include atMedium {
            padding-top: 14.375rem;
            padding-bottom: 9.1875rem;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 90%;
            background-color: $color-primary-lgt;
            clip-path: polygon(0 100%, 60% 0, 100% 0, 100% 100%, 0 100%);
        }

        &:after {
            display: none;
        }
    }
}

@keyframes up-down {
    0% {
        transform: translateY(-.5rem) rotate(90deg);
    }
    50% {
        transform: translateY(.5rem) rotate(90deg);
    }
    100% {
        transform: translateY(-.5rem) rotate(90deg);
    }
}
